@use "../abstract/" as *;

.hero {
  &__content {
    max-width: 80rem;
    width: 100%;
    padding: 8rem 0;
    transform: translateX(6rem);
    @include mediaQuery($mobile) {
      transform: translateX(0rem);
    }
    span {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
    h1 {
      margin-bottom: 1rem;
    }
    p {
      max-width: 50rem;
      margin-bottom: 4rem;
    }
  }
  &__logos {
    margin-top: 5rem;
    margin-bottom: 3rem;
    @include grid(6);
    @include mediaQuery($tablet) {
      @include grid(3);
      padding: 0;
    }
    @include mediaQuery($mobile) {
      @include grid(1);
      padding: 0;
    }
    padding: 0 6rem;
    img {
      width: 100%;
    }
  }
}

.hservices {
  &__wrapper {
    @include grid(4, 2rem);
    @include mediaQuery($tablet) {
      @include grid(2, 2rem);
    }
    @include mediaQuery($mobile) {
      @include grid(1, 2rem);
    }
  }

  &__card {
    background: rgba($gray, $border-opacity);
    padding: 5rem;
    h3 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 4rem;
      opacity: 0.7;
    }
    a {
      text-decoration: underline;
      font-size: 1.4rem;
    }
  }
}

.hwork {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mediaQuery($mobile) {
      @include grid(1, 2rem);
    }
    gap: 3rem;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__card__content {
    @include flexBetween;
    padding: 2rem 0;
  }
  h4 {
    margin-bottom: 0;
  }
}

.value {
  &__wrapper {
    display: grid;
    grid-template-areas:
      "a b c ."
      ". d e f";
    @include mediaQuery($tablet) {
      grid-template-areas:
        "a b"
        "c d"
        "e f";
    }
    @include mediaQuery($mobile) {
      grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
    }
    gap: 1rem;
    padding: 5rem 0;
    max-width: 122rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    background-color: antiquewhite;
    aspect-ratio: 1 / 1;
    padding: 3rem;
    height: 100%;
    align-items: flex-start;
    span {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
      margin-bottom: 0;
      font-family: "manrope-light";
      font-weight: 300;
    }
  }

  &__card:nth-child(1) {
    grid-area: a;
    background: #f1f4f9;
  }
  &__card:nth-child(2) {
    grid-area: b;
    background: #f1f5f4;
  }
  &__card:nth-child(3) {
    grid-area: c;
    background-color: #f9f9f9;
  }
  &__card:nth-child(4) {
    grid-area: d;
    background-color: #f9f9f9;
  }
  &__card:nth-child(5) {
    grid-area: e;
    background: #f7ede3;
  }
  &__card:nth-child(6) {
    grid-area: f;
    background: #fffae7;
  }

  &__content {
    max-width: 50%;
    margin: 10rem auto 0;

    @include mediaQuery($tablet) {
      max-width: 100%;
    }
    h2 {
      font-size: 3rem;
    }
    p {
      columns: 2;
      gap: 2rem;
      @include mediaQuery($tablet) {
        columns: 1;
      }
    }
  }
}

.hteam {
  &__wrapper {
    @include grid(4, 2rem);
    @include mediaQuery($tablet) {
      @include grid(2, 2rem);
    }
    @include mediaQuery($mobile) {
      @include grid(1, 2rem);
    }
  }

  &__description {
    background: #f1f5f4;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100% - 36px);
    @include mediaQuery($mobile) {
      min-height: 30rem;
    }
    small {
      text-transform: uppercase;
    }
    h3 {
      margin-bottom: 2rem;
      font-weight: 400;
    }
    p {
      margin-bottom: auto;
    }
  }
  &__card {
    position: relative;
    overflow: hidden;
    & > img {
      width: 100%;
    }
    &__content {
      @include flexBetween;
      margin-top: 1rem;
      span {
        padding: 0.3rem 1.2rem;
        border-radius: 3rem;
        border: 1px solid $dark;
        font-size: 1.2rem;
      }
    }
    &__media {
      display: flex;
      gap: 1rem;
      position: absolute;
      bottom: 8rem;
      right: -19rem;
      z-index: 50;
      transition: 0.5s ease;
      a {
        width: 4rem;
        height: 4rem;
        display: grid;
        place-content: center;
        background-color: $dark;
        border-radius: 50%;
      }
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &:hover .hteam__card__media {
      right: 4rem;
    }
  }
}

.testimonials {
  padding: 16rem 0;
  &__wrapper {
    @include gridCustom(1fr 1fr 2fr, 2rem);
    margin-bottom: 10rem;
    @include mediaQuery($mobile) {
      @include gridCustom(1fr, 2rem);
      margin-bottom: 3rem;
    }
    h4 {
      margin-bottom: 2rem;
      
    }
  }
}

.hblog {
  &__wrapper {
    @include grid(4, 2rem);
    @include mediaQuery($tablet) {
      @include grid(2, 2rem);
    }
    @include mediaQuery($mobile) {
      @include grid(1, 2rem);
    }
  }

  &__card {
    img {
      @include imageCover(100%, auto);
    }
    p {
      padding: 1rem 0;
    }
    a {
      font-size: 1.4rem;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
