@font-face {
  font-family: "manrope-light";
  src: url(../fonts/manrope-light.woff2);
}
@font-face {
  font-family: "manrope-regular";
  src: url(../fonts/manrope-regular.woff2);
}
@font-face {
  font-family: "manrope-semibold";
  src: url(../fonts/manrope-semibold.woff2);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: clamp(4rem, calc(4rem + 1vw), 6rem);
    line-height: 1.5;
    margin-bottom: 4rem;
}
h2 {
    font-size: clamp(3rem, calc(3rem + 1vw), 4.5rem);
    line-height: 1.5;
    margin-bottom: 4rem;
}
h3 {
    font-size: clamp(2rem, calc(2rem + 1vw), 3.5rem);
    line-height: 1.5;
    margin-bottom: 4rem;
}
h4 {
    font-size: clamp(1.6rem, calc(1.6rem + 1vw), 2rem);
    line-height: 1.5;
    margin-bottom: 4rem;
}

a{
    text-decoration: none;
    color: inherit;
}

